* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
header,
nav,
footer {
  background-color: rgb(1, 59, 1);
}
header > img {
  display: block;
  margin: 0 auto;
  padding: 1rem;
}
header > img:hover {
  transform: rotateY(360deg);
  transition: 3s;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}
nav a:hover {
  background-color: rgba(3, 219, 3, 0.9);
  color: black;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
main {
  background-color: rgb(157, 250, 157);
}
section {
  display: flex;
  padding: 1rem;
}
article {
  flex: 1;
  margin: 0.5rem;
  padding: 0.5rem;
}
footer {
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
footer div {
  /* flex: 1; */
}
