body {
  background-color: white;
  margin: 2rem 5%;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
header > img {
  display: block;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
section {
  display: flex;
}
article {
  flex: 1;
  margin: 0 0.5rem;
}
footer {
  display: flex;
}
footer div {
  flex: 1;
}
